{% load common_tags %}
<div>
    <h1>Upload Photo</h1>
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}} 
        <input type="submit" value="upload" />
    </form>
    {% for img in images %}        
        <a href="{{ img.img.url }}" style="margin:5px;float:left;">
        	<img src="{{ img.img.url|is_thumb }}" />
        </a>
    {% endfor %}
</div>